{% extends 'header.html' %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">
        <!-- ============================ ITEM DETAIL ======================== -->
        <div class="row">
            <aside class="col-md-6">
                <div class="card">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div><a href="#"><img src="{{ mahsulot.media_set.first.rasm.url }}"></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="thumbs-wrap">
                            {% for media in mahsulot.media_set.all|slice:"1:6" %}
                            <a href="#" class="item-thumb"> <img src="{{ media.rasm.url }}"></a>
                            {% endfor %}
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </div> <!-- card.// -->
            </aside>
            <main class="col-md-6">
                <article class="product-info-aside">
                    <h2 class="title mt-3">{{ mahsulot.nom }} </h2>
                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:{{ ortachasi }}%" class="stars-active">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <small class="label-rating text-muted">{{ mahsulot.izoh_set.count }} Izohlar</small>
                        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i>
                        </small>
                    </div> <!-- rating-wrap.// -->
                    <div class="mb-3">
                        <var class="price h4">{{ mahsulot.narx }} so'm</var>
                        <span class="text-muted">{{ mahsulot.chegirma }}% chegirma</span>
                    </div> <!-- price-detail-wrap .// -->
                    <p>{{ mahsulot.batafsil }} </p>
                    <dl class="row">
                        <dt class="col-sm-3">Ishlab chiqaruvchi</dt>
                        <dd class="col-sm-9"><a href="#">{{ mahsulot.brend }}</a></dd>

                        <dt class="col-sm-3">Kafolat</dt>
                        <dd class="col-sm-9">{{ mahsulot.kafolat }}</dd>

                        <dt class="col-sm-3">Yetkazib berish vaqti</dt>
                        <dd class="col-sm-9">{{ mahsulot.yetkazish }}</dd>

                        <dt class="col-sm-3">Do'konda</dt>
                        {% if mahsulot.mavjud %}
                        <dd class="col-sm-9">Mavjud</dd>
                        {% else %}
                        <dd class="col-sm-9">Mavjud emas</dd>
                        {% endif %}
                    </dl>
                    <div class="form-row  mt-4">

                        <div class="form-group col-md">
                            <a href="/buyurtma/item_qosh/{{ mahsulot.id }}" class="btn  btn-primary">
                                <i class="fas fa-shopping-cart"></i> <span class="text">Savatchaga qo'shish</span>
                            </a>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->

                </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->

        <!-- ================ ITEM DETAIL END .// ================= -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<div class="container d-flex justify-content-center align-items-center">
    <form method="post"> {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputComment1">Sizning fikringiz</label>

            <div class="rating-container d-flex" id="smileyRating" style="gap: 20px;">
                <input type="radio" name="baho" value="1" id="smiley1" style="display:none;">
                <label class="smiley-face" for="smiley1" style="cursor: pointer">&#9785;</label>
                <input type="radio" name="baho" value="2" id="smiley2" style="display:none;">
                <label class="smiley-face" for="smiley2" style="cursor: pointer">&#x1F610;</label>
                <input type="radio" name="baho" value="3" id="smiley3" style="display:none;" checked>
                <label class="smiley-face" for="smiley3" style="cursor: pointer">&#x1F642;</label>
                <input type="radio" name="baho" value="4" id="smiley4" style="display:none;">
                <label class="smiley-face" for="smiley4" style="cursor: pointer">&#x1F600;</label>
                <input type="radio" name="baho" value="5" id="smiley5" style="display:none;">
                <label class="smiley-face" for="smiley5" style="cursor: pointer">&#x1F929;</label>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputComment1" aria-describedby="commentHelp"
                   placeholder="Enter your comment" name="matn">
        </div>
        <button type="submit" class="btn btn-primary">Izoh qo'shish</button>
    </form>

    <div id="selectedRating"></div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var smileyFaces = document.querySelectorAll('.smiley-face');

            smileyFaces.forEach((face) => {
              face.addEventListener('click', () => {
                // reset transform of all smiley faces
                smileyFaces.forEach((face) => {
                  face.style.transform = "none"; // add !important if necessary
                });
                // scale up the clicked smiley face
                face.style.transform = "scale(2)"; // add !important if necessary
              });
            });
          });
    </script>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Izohlar</h2>
            <hr>
            {% for izoh in mahsulot.izoh_set.all %}
            <div class="row">
                <div class="col-sm-2">
                    <div class="text-center">
                        {% if izoh.baho == 1 %}
                        <span class="smiley-face">&#9785;</span>
                        {% elif izoh.baho == 2 %}
                        <span class="smiley-face">&#x1F610;</span>
                        {% elif izoh.baho == 3 %}
                        <span class="smiley-face">&#x1F642;</span>
                        {% elif izoh.baho == 4 %}
                        <span class="smiley-face">&#x1F600;</span>
                        {% elif izoh.baho == 5 %}
                        <span class="smiley-face">&#x1F929;</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-10">
                    <p>{{ izoh.matn }}</p>
                    <div class="user d-flex" style="gap: 300px">
                        <p><small class="text-muted">{{ izoh.sana }}</small></p>
                        <p><small class="text-muted">{{ izoh.profil.first_name }} {{ izoh.profil.last_name }}</small>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            {% empty %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}