{% extends 'header.html' %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <header class="mb-3">
            <div class="form-inline">
                <strong class="mr-md-auto">Mahsulotlar </strong>
            </div>
        </header><!-- sect-heading -->

        <div class="row">
            {% for mahsulot in mahsulotlar %}
            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <img src="{{ mahsulot.media_set.first.rasm.url }}">
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="/asosiy/mahsulot/{{ mahsulot.id }}/" class="title mb-2">{{ mahsulot.nom }}</a>
                        <div class="price-wrap">
                            <span class="price">{{ mahsulot.narx }}</span>
                            <small class="text-muted">so'm</small>
                        </div> <!-- price-wrap.// -->
                        <p class="text-muted ">{{ mahsulot.brend }}</p>
                        <hr>
                        <p class="mb-3">
                            {% if mahsulot.mavjud %}
                            <span class="tag"> <i class="fa fa-check"></i> Mavjud</span>
                            {% else %}
                            <span class="tag"> <i class="fa fa-times"></i> Mavjud emas</span>
                            {% endif %}
                            <span class="tag"> {{ mahsulot.kafolat }}</span>
                            <span class="tag"> {{ mahsulot.izoh_set.count }} izohlar </span>
                            <span class="tag"> {{ mahsulot.davlat }} </span>
                        </p>
                    </figcaption>
                </figure>
            </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row end.// -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock%}