{% extends 'header.html' %}

{% block content %}

{% load mathfilters %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col">Mahsulotlar</th>
                            <th scope="col" width="120">Soni</th>
                            <th scope="col" width="120">Narxi</th>
                            <th scope="col" class="text-right" width="200"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in itemlar %}
                        <tr>
                            <td>
                                <figure class="itemside">
                                    <div class="aside"><img src="{{item.mahsulot.media_set.first.rasm.url}}"
                                                            class="img-sm"></div>
                                    <figcaption class="info">
                                        <a href="#" class="title text-dark">{{ item.mahsulot.nom }}</a>
                                        <p class="text-muted small"><br> Brend: {{ item.mahsulot.brend }}</p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <div class="input-group mb-3 input-spinner">
                                    <div class="input-group-prepend">
                                        <a href="/buyurtma/miqdor_q/{{item.id}}/">
                                            <button class="btn btn-light" type="button" id="button-plus"> +</button>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control" value="{{ item.miqdor }}" max="5" min="1">
                                    <div class="input-group-append">
                                        <a href="/buyurtma/miqdor_k/{{item.id}}/">
                                            <button class="btn btn-light" type="button" id="button-minus"> &minus;
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="price-wrap">
                                    <var class="price">{{ item.miqdor|mul:item.mahsulot.narx }}</var>
                                    <small class="text-muted"> {{ item.mahsulot.narx }} so'm </small>
                                </div> <!-- price-wrap .// -->
                            </td>
                            <td class="text-right">
                                <a data-original-title="Save to Wishlist" title=""
                                   href="/buyurtma/tanlangan_qosh/{{ item.id }}/" class="btn btn-light"
                                   data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                <a href="/buyurtma/ochirish/{{ item.id }}/" class="btn btn-light btn-round">
                                    O'chirish</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        <a href="/buyurtma/buyurtma_qosh/" class="btn btn-primary float-md-right"> Xarid qilish <i
                                class="fa fa-chevron-right"></i> </a>
                        <a href="#" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Xarid qilishda davom eting
                        </a>
                    </div>
                </div> <!-- card.// -->

                <div class="alert alert-success mt-3">
                    <p class="icontext"><i class="icon text-success fa fa-truck"></i> 1-2 hafta ichida bepul yetkazib
                        berish </p>
                </div>
            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Umumiy narx:</dt>
                            <dd class="text-right">{{sum}} so'm</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Chegirma:</dt>
                            <dd class="text-right">{{chg}} so'm</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Jami:</dt>
                            <dd class="text-right  h5"><strong>{{yakuniy}} so'm</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="/media/misc/payments.png" height="26">
                        </p>
                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}