{% extends 'header.html' %}

{% block content %}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
    <div class="container">
        <h2 class="title-page">Tanlanganlar</h2>
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <nav class="list-group">
                    <a class="list-group-item" href="/profil/"> Profil </a>
                    <a class="list-group-item" href="/buyurtma/buyurtmalar/"> Buyurtmalar </a>
                    <a class="list-group-item active" href="/buyurtma/tanlanganlar/"> Tanlanganlar </a>
                    <a class="list-group-item" href="/setting/"> Sozlamalar </a>
                    <a class="list-group-item" href="/user/logout/"> Log out </a>
                </nav>
            </aside> <!-- col.// -->
            <main class="col-md-9">
                <article class="card">
                    <div class="card-body">
                        <div class="row">
                            {% for tanlangan in tanlanganlar %}
                            <div class="col-md-6">
                                <figure class="itemside mb-4">
                                    <div class="aside"><img src="{{ tanlangan.mahsulot.media_set.first.rasm.url }}"
                                                            class="border img-md"></div>
                                    <figcaption class="info">
                                        <a href="/asosiy/mahsulot/{{ tanlangan.mahsulot.id}}/" class="title">Nomi : {{
                                            tanlangan.mahsulot.nom }}</a>
                                        <p class="price mb-2">Brend : {{ tanlangan.mahsulot.brend }}</p>
                                        <p class="price mb-2">Summa : {{ tanlangan.mahsulot.narx }}</p>
                                        <a href="/buyurtma/item_qosh/{{ tanlangan.mahsulot.id }}/"
                                           class="btn btn-secondary btn-sm"> Savatchaga qo'shish </a>
                                        <a href="/buyurtma/t_ochir/{{ tanlangan.id }}/" class="btn btn-danger btn-sm"
                                           data-toggle="tooltip" title="" data-original-title="Remove from wishlist"> <i
                                                class="fa fa-times"></i> </a>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->
                            {% endfor %}
                        </div> <!-- row .//  -->
                    </div> <!-- card-body.// -->
                </article>
            </main> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock%}
